<?xml version="1.0" encoding="UTF-8" ?>    
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.dao.PaperDetailDAO">
	<sql id="insertFull">insert into t_paper_detail(PAPER_ID,QUESTION_ID) values</sql>
	<insert id="insertOne" parameterType="PaperDetail">
		insert into
		t_paper_detail(PAPER_ID,QUESTION_ID) values(#{paperID},#{questionID})
	</insert>
	<insert id="batchInsert" parameterType="List">
		<include refid="insertFull"></include>
		<foreach collection="list" item="e" separator=",">
			(#{e.paperID},#{e.questionID})
		</foreach>
	</insert>
	<select id="selectPaper" parameterType="map" resultType="Question">
		SELECT
		QUESTION_ID questionID,
		SUB_ID subID,
		QUESTION_TYPE_ID questionTypeID,
		QUESTION_DIFFICULTY questionDifficulty,
		QUESTION_STEM questionStem,
		QUESTION_ANSWERA questionAnswerA,
		QUESTION_ANSWERB questionAnswerB,
		QUESTION_ANSWERC questionAnswerC,
		QUESTION_ANSWERD questionAnswerD,
		QUESTION_ANSWERE questionAnswerE,
		QUESTION_RIGHTANSWER questionRightAnswer,
		QUESTION_SCORE questionScore,
		QUESTION_ISAUDITED questionIsAudited,
		QUESTION_AUTHOR questionAuthor,
		QUESTION_AUDITOR questionAuditor,
		QUESTION_AUDITDATE questionAuditDate,
		QUESTION_SETDATE questionSetDate,
		QUESTION_MEDIA questionMedia,
		QUESTION_BAK1 questionBak1,
		QUESTION_BAK2 questionBak2,
		QUESTION_BAK3 questionBak3
		from t_question where QUESTION_ID in (SELECT question_id from
		t_paper_detail WHERE PAPER_ID=#{paperID}) order By ROUND(RAND() * 100)MOD(20)+1
	</select>
</mapper>